body{
    background-color: #083b4c; 
}

h1{
    color: white;
    font-size: 70px;
}

.square{
    background-color: #1389b2;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 1px solid white;
    font-size: 25px;
    font-weight: 600;
}

.fizz{
    background-color: #0cd6a1;
}

.buzz{
    background-color: #ffd166;
}

.fizzbuzz{
    background-color: #f0466f;
}